<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2014 - 2017</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Bachelor of Engineering</div>
            <h4 class="category">Sinhgad Academy Of Engineering</h4>
            <ul>
              <li>
                Sinhgad Academy Of Engineering is Pune University Affiliated
              </li>
              <li>
                Completed B.E in Computer Engineering with <b>Distinction</b>.
              </li>
              <li>
                Activities and societies: ♦ <b>ACES</b>(Association of Computer
                Engineering Students). ♦ <b>EDC</b>(Entrepreneurship Development
                Cell)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2011 - 2014</p>
            <div class="h5">DIPLOMA</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">DIPLOMA IN ENGINEERING</div>
            <h4 class="category">Indira Institute Of Technology</h4>
            <ul>
              <li>The Diploma was mainly focus on the Computer Engineering</li>
              <li>
                There was fundamentals of software engineering was tought here
                and also good understanding of various programming languages.
              </li>
              <li>Completed my Diploma with<b> 75%</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2010 - 2011</p>
            <div class="h5">Sedcondary School</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">Indira Gandhi Highschool</h4>
            <ul>
              <li>
                The Secondary aims at Maths , English , Science, Social Science,
                Litrature and Languages.
              </li>

              <li>Completed my Secondary school with <b>77%</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
